:root {
   --st: #ffffff;
   --sm: #e9e9e9;
   --sn: #C3B9B5;
   --koral: #FF7F50;
   --ko: #ff4a4a;
   --ks: #ff1414;
   --color-dark: #232323; 
   --rw: #000000; /* color: #013d59; синий */
   
   /* ====== font-family ====== */
   --h-font: 'Roboto', sans-serif;
}