
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}
:root {
    --st: #ffffff;
    --sm: #e5ebe6;
    --sn: #C3B9B5;
    --koral: #FF7F50;
    --ko: #ff4a4a;
    --ks: #ff1414;
    --color-dark: #232323; 
    --rw: #000000;
 
    /* ====== font-family ====== */
    --h-font: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, li {
    padding: 0;
	 list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
a {
    text-decoration: none;
}
 .container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ======================================= */
.title-repeat {
    font-weight: normal;
    font-size: 80px;
    line-height: 137%;
}
.title-repeat-2 {
    font-weight: normal;
    font-size: 40px;
    line-height: 133%;
}
.title-repeat-3 {
    font-size: 30px;
    line-height: 133%;
}
.text-repeat {
    font-size: 20px;
    line-height: 150%; 
}
.link-repeat {
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
}

/* ======================================= */

/* ========== header ========== */
/* .header {

} */
.header__top {
    padding: 10px 0;
    background: var(--ks);
}
.header__wrap-top {
    display: flex;
    justify-content: space-between;
}
.header__top-tel {
    display: flex;
}
.header__top-tel-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    color: var(--st);
    margin-right: 30px;
}
.header__top-tel-link:hover {
    color: var(--sm);
}
.header__top-tel-link i {
    margin-right: 8px;
}
.header__top-ikon a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--rw);
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background: var(--st);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header__top-ikon a:hover  {
    background: var(--sm);
}
/* ============ nav ============ */
.header__nav {
    background: var(--rw);
}
.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    min-height: 80px;
    padding: 15px 0;
}
/* .header__block-logo {
    width: 100px;
} */
.header__logo {
    width: 65px;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    color: var(--st);
    text-transform: uppercase;
}
.header__ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.header__ul-li a {
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    padding: 33px 0;
    color: var(--st);
    text-transform: uppercase;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.header__ul-li-active a {
    color: var(--ko);
}
.header__ul-li a:hover {
    color: var(--ko);
}
/* ================= */
.header__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/header/bg-1.jpg) 0 0 / cover no-repeat;
    min-height: 880px;
    padding: 0 15px;
}
.header__plitka {
    background: url(../img/header/bg-2.jpg) 0 0 / cover no-repeat;
}
.header__exavat {
    background: url(../img/header/bg-3.jpg) 0 0 / cover no-repeat;
}
.header__dumptruck {
    background: url(../img/header/bg-big.jpg) 0 0 / cover no-repeat;
}
.header__contakts {
    background: url(../img/contakts/contact-1.png) 50% 0 / cover no-repeat;
    max-width: 1140px;
    min-height: 430px !important;
    margin: 100px auto 75px;
}
.header__main-block {
    color: var(--st);
    text-align: center;
    max-width: 800px;
    font-size: 80px;
}
.header__main-block h1 {
    font-size: 60px;
    line-height: 130%;
}
.header__main-block p {
    font-size: 27px;
    line-height: 130%;
    margin-top: 10px;
}
.header__main-block a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 700;
    color: var(--st);
    background: var(--ks);
    margin: 40px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-transform: uppercase;
}
.header__main-block a:hover {
    background: var(--ko);
}
/* ========== header /========== */

/* ========== opis ========== */
.opis {
    padding: 80px 0;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}
.opis h2 {
    margin-bottom: 15px;
}
.opis__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 20px;
}
.opis__block-item {
    display: flex;
    flex-direction: column;
    max-width: 355px;
    text-align: left;
    /*border: 1px solid #ccc;
    */box-shadow: 0px 5px 8px #c3c3c3;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.opis__block-item:hover {
    box-shadow: 0px 10px 10px #c3c3c3;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
} 
.opis__block-image {
    height: 180px;
    object-fit: cover;
}
.opis__block-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.opis__block-txt {
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20px;
    flex: 1 1 auto;
}
.opis__txt-title {
    font-size: 19px;
    line-height: 133%;
    font-weight: 500;
    margin-bottom: 12px;
}
.opis__block-txt p {
    font-size: 16px;
    line-height: 135%;
    /* margin-bottom: 18px; */
}
.opis__block-txt h4 {
    margin-bottom: 5px;
}
.opis__block-txt a {
    color: #4aa7ff;
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.opis__block-txt a:hover {
    color: var(--ks);
}
.opis__block-txt i {
    margin-left: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.opis__block-txt a:hover i {
    margin-left: 15px;
}

/* ========== opis /========== */


/* ========== work ========== */
.work {
    padding: 80px 0;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}
section.work h2 {
    margin-bottom: 15px;
}
.work__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
}
.work__block-item {
    width: 280px;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    margin-bottom: 50px;
}
.work__block-item h3 {
    margin-bottom: 20px;
}

/* ========== work /========== */

/* ========== tileplit ========== */
.tileplit {
    padding: 50px 0 35px;
}
.tileplit h2 {
    margin-bottom: 30px;
}
.tileplit p {
    font-size: 16px;
    line-height: 160%;
    font-weight: normal;
    margin-bottom: 25px;
}
.tileplit h3 {
    font-weight: 400;
    margin-bottom: 25px;
}
.tileplit__ul {
    padding-left: 30px;
    margin-bottom: 30px;
}
.tileplit__ul-li {
    margin-bottom: 15px;
    list-style: square;
}
.tileplit__block-making {
    padding: 25px 0 50px;
    /* background: #fdce90; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.tileplit__making-image {
    width: 340px;
    height: 220px;
}
.tileplit__making-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* ========== tileplit /========== */

/* ========== styling ========== */
.styling {
    padding: 50px 0;
    background: coral;
    text-align: center;
}
.styling h2 {
    margin-bottom: 30px;
}
.styling p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 160%;
}
.styling h3 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
}
.styling__box {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.styling__box-item {
    position: relative;
    text-align: left;
    max-width: 410px;
    min-height: 120px;
    padding: 12px 25px 12px 65px;
    background: var(--sm);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.styling__box-item::before {
    position: absolute;
    content: url(../img/plitka/check.svg);
    width: 42px;
    height: 42px;
    top: 12px;
    left: 10px;
}
/* ========== styling /========== */


/* ========== contakts ========== */

.location__block {
    display: flex;
    justify-content: space-between;
    margin: 65px 0 0;
}
.location__block-item {
    text-align: left;
}
.location__block-item h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 75px;
}
.location__minbox {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.location__minbox i {
    font-size: 25px;
    margin-right: 20px;
}
.location__box-icon {
    display: flex;
}
.location__box-icon a {
    font-size: 25px;
    margin-right: 20px;
    color: var(--rw);
}
.location__block-item-2  {
    width: 70%;
}
.location__block-item-2 iframe {
    width: 100%;
    height: 400px;
}
/* ========== contakts /========== */



/* ========== footer ========== */
.footer {
    color: var(--st);
    min-height: 300px;
    background: var(--color-dark);
    padding: 50px 50px 50px;
}
.footer__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.footer__block-item {
    max-width: 280px;
}
.footer__logo {
    width: 80px;
    margin-bottom: 35px;
}
.footer__logo-title {
    font-size: 17px;
    line-height: 165%;
    font-weight: 500;
}
.footer__subtitle {
    margin-bottom: 25px ;
}
.footer__ul-li a {
    color: var(--sm);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.footer__ul-li a:hover {
    color: var(--ko);
}
.footer__ul-li i {
    margin-right: 10px;
}
.footer__ul-li {
    color: var(--sm);
    margin-bottom: 20px;
}
.footer__developer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.footer__developer a {
    color: var(--sm);
    font-size: 18px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.footer__developer a:hover {
    color: var(--ko);
    margin-top: -1px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    
}
.footer__messenger-ikon {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.footer__messenger-ikon a {
    color: var(--sm);
    /* color: #ffc60a; */
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.footer__messenger-ikon a:hover {
    color: var(--ko);
}

/* ========== footer /========== */







/* ========== location ========== */
.location {
    padding: 50px 0;
    text-align: center;
    min-height: 500px;
    background: rgb(230, 230, 230);
}
/* ========== location /========== */








/* ====== Медиа 1140px ====== */
@media (max-width: 1140px) {
    .header__block {
        flex-direction: column;
    }
    .header__logo img {
        margin: 0 auto;
    }
}
/* ====== Медиа 1140px /====== */

/* ====== Медиа 990px ====== */
@media (max-width: 990px) {
    .header__ul {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .header__ul-li {
        padding: 10px 0;
    }
    .header__logo {
        text-align: center;
    }
    .header__block {
        padding: 20px 0 50px;
        gap: 16px;
    }
}
/* ====== Медиа 990px /====== */

/* ====== Медиа 768px ====== */
@media (max-width: 768px) {
    .header__top-ikon {
        display: none;
    }
    .header__top-tel {
        justify-content: space-between;
        width: 100%;
    }
    .header__top-tel-link {
        margin-right: 0;
    }
    .header__main-block h1 {
        font-size: 6vw;
    }
    .tileplit__making-image {
        width: 48%;
    }
    .footer {
        padding: 50px 20px 50px;
    }
}
/* ====== Медиа 768px /====== */

/* ====== Медиа 0px ====== */
@media (max-width: 0px) {}
/* ====== Медиа 0px /====== */

/* ====== Медиа 450px ====== */
@media (max-width: 450px) {
    .tileplit h2 {
        font-size: 8vw;
        margin-bottom: 15px;
    }
    .tileplit p {
        margin-bottom: 16px;
    }
    .title-repeat-3 {
        font-size: 7vw;
    }
    .tileplit__ul {
        margin-bottom: 20px;
    }
    .tileplit h3 {
        margin-bottom: 15px;
    }
    .tileplit__making-image {
        height: auto;
    }
    .styling h3 {
        margin-bottom: 12px;
    }
}
/* ====== Медиа 450px /====== */

/* ====== Медиа 420px ====== */
@media (max-width: 420px) {
    .header__block {
        justify-content: space-evenly;
        height: 100vh;
        /* padding: 20px 0 55%; */
    }
    .header__nav {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    .header__main-block h1 {
        font-size: 7vw;
    }
    .styling h2 {
        margin-bottom: 15px;
        font-size: 9vw;
    }
    .tileplit {
        padding: 30px 0 15px;
    }
    .styling {
        padding: 30px 0 65px;
    }
    .styling__box {
        gap: 10px;
    }
    .tileplit__block-making {
        padding: 0px 0 25px;
        gap: 10px;
    }
    .footer {
        padding: 30px 20px 40px;
    }
}
/* ====== Медиа 420px /====== */

/* ====== Медиа 0px ====== */
@media (max-width: 0px) {}
/* ====== Медиа 0px /====== */